body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    min-height: 50px;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color:rgb(0, 0, 0, .75);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#navbar ul li a:hover {
    text-decoration: underline;
}

.material-icons {
    position: relative;
    bottom: 3px;
}

#navbar ul li a button {
    font-weight: bold;
    color: white;
    background-color: rgb(48, 100, 212);
    border: none;
    padding: 8px 7px; 
    position: relative;
    bottom: 5px;
} 

#center-searchfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    bottom: 50px;
}

div input {
    width: 35em;
    height: 3em;
    border-radius: 35px;
    margin: 10px 0;
    opacity: .3;
}

div input:hover {
    box-shadow: 2px 2px 5px 2px rgb(0, 0, 0, .30);
}

#search-buttons {
    opacity: .7;
}

.search-btns {
    padding: 10px 14px; 
    margin: 0 5px;
    border-color: rgba(223, 222, 222, 0.1);
}

.search-btns:hover {
    border-color: rgba(223, 222, 222, 1);
    border-style: groove;
}

#footer {
    min-height: 50px;
    margin-top: auto;
    background-color: rgb(0, 0, 0, .07);
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer ul li {
    float: left;
}

#footer ul li a {
    display: block;
    color:rgb(0, 0, 0, .75);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #footer ul li a:hover {
      text-decoration: underline;
  }